---
import GalleryCard from "../components/GalleryCard.astro";
import { imagesSources } from "../constants";
---

<main>
  <div class="content-container">
    {
      imagesSources.map((image) => (
        <GalleryCard
          sources={image.dimensions}
          name={image.name}
          author={image.author}
        />
      ))
    }
  </div>
</main>

<style>
  .content-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-auto-rows: 250px 400px 285px;
    padding: 1.25em;
    gap: 1rem;
  }
</style>
